.wrapperLoggedOut {
    box-shadow: 0 0 4px 3px rgba(116, 116, 116, 0.867);
    width: 335px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.wrapper {
    box-shadow: 0 0 4px 3px rgba(116, 116, 116, 0.867);
    width: 335px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.img {
    background-position: center;
    background-size: cover;
    height: 85%;
    width: 100%;
}
.headline {
    float: inline-start;
    opacity: 1;
    cursor: pointer;
    font-size: 1.3vw;
    font-family: "Raleway", sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
    padding-left: 10px;
}
.likeButtonLiked {
    border-radius: 10%;
    font-family: "Raleway", sans-serif;
    background-color: rgb(224, 177, 155) !important;
}
.likeButton {
    border-radius: 10%;
}
.buttonsWrapper {
    opacity: 0;
}

.buttonsWrapper button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px 1px rgba(116, 116, 116, 0.867);
    background-color: white;
    border-radius: 10%;
    margin-left: 10px;
    top: 7px;
    position: relative;
    height: 30px;
    width: 60px;
    font-family: "Raleway", sans-serif;
}
.likesCounter {
    padding-right: 10px;
    position: relative;
    display: inline-flex;
    float: right;
    font-size: larger;
    font-family: "Raleway", sans-serif;
}

.wrapper:hover .buttonsWrapper {
    opacity: 1;
    transition: all 1s;
    display: inline-flex;
    float: inline-start;
    gap: 10px;
}
.wrapper:not(:hover) .buttonsWrapper {
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    display: inline-flex;
    float: inline-start;
    gap: 10px;
}
.wrapper:hover .headline {
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}
.wrapper:not(:hover) .headline {
    opacity: 1;
    transition: all 1s;
}

.editButton:active {
    transform: translateY(1px);
}
.deleteButton:active {
    transform: translateY(1px);
}
.detailsButton:active {
    transform: translateY(1px);
}
.likeButton:active {
    transform: translateY(1px);
}
.likeButtonLiked:active {
    transform: translateY(1px);
}
