.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    gap: 30px;
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}
.search-container {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
}
.search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}
.search-container p {
    font-size: x-large;
    text-align: center;
}
