.container {
    text-align: center;
    margin: 100px auto;
    max-width: 1190px;
}

.h1NotFound {
    font-size: 3em;
    color: #e74c3c;
    font-family: "Raleway", sans-serif;
}

.h1P {
    font-size: 1.2em;
    color: #555;
    font-family: "Raleway", sans-serif;
}
