.pagination {
    font-size: x-large;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(185, 185, 185);
}

.page-item {
    align-items: center;
    color: black;
    padding: 8px 5px;
}
.pagination .page-link {
    color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
}
.pagination .active {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
