.container {
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    gap: 20px;
    padding: 0 20px;
    margin: 0 auto;
}
.container .missing-content {
    font-family: "Raleway", sans-serif;
    font-size: xx-large;
    padding-left: 400px;
}
.pagination-container {
    background-color: rgb(229, 229, 227);
    margin: 0 auto;
    max-width: 1440px;
}
