* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-image: url(D:\SoftUni\React\TheGallery\client\src\assets\images\nature3.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.headerInner {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.logoWrapper {
    width: 90px;
    height: 90px;
}
.logoImg {
    object-fit: contain;
}

.headerInner nav {
    flex-grow: 1;
}

.headerInner nav ul {
    display: flex;
    gap: 50px;
    height: 100px;
    align-items: center;
}

.headerContent {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.container > * {
    flex-basis: 100%;
}

.container.top {
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
}
.navLinks {
    color: white;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.userMessage {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}
