.footer {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0px;
    margin-top: 30px;
    position: relative;
    font-style: italic;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
