.galleryImage {
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    border: groove;
    height: 200px;
    width: 250px;
    margin: 10px;
}
.galleryImage :hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
& p :hover {
    transform: scale(1.5);
    transition: opacity 0.5s ease-in-out;
}
.galleryImage img {
    padding-top: 5px;
    height: 95%;
    width: 95%;
}
.galleryImage p {
    font-style: italic;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 41px;
    right: -8px;
    width: fit-content;
    color: white;
}
