.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 6;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    height: 550px;
    text-align: left;
}

.close {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    font-family: "Raleway", sans-serif;
    padding-top: 20px;
}

.registerButton {
    padding: 10px;
    background-color: #cd9965;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}
.registerButton:hover {
    background-color: #cfc0bc;
}
.login-redirection {
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
}
.login-redirection a {
    text-decoration: none;
}
